<%- include('partials/header') %>

<h1>Pagina inicial</h1>

<p><%= homeContent %></p>

<% posts.forEach(post => { %>
    <h1><%= post.title %></h1>
    <p><%= post.truncateContent %> <a href="/posts/<%= post.url %>">Read more</a></p>
<%}); %>
    

<%- include('partials/footer') %>